<footer>
    <div class="footer-container">
        <div class="contact-links">
            <ul class="contact-items">
                <li class="contact" data-type="email">
                    <a href="mailto:waldmanaaron@gmail.com">
                        waldmanaaron@gmail.com
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>