
/* TODO: Find a more apple-ey color. Also match saturation between light and dark reds.

/* PALLETE: 
** Apple-red: #ac2413;
** Apple-red (light):  #cc4433;
** Grass: #295;
** Black: #222;
*/


/*
** PALLETTE 2: grass and dirt subdued
forest: 053312;
spring: 5CC207;
bark: 403D1A;
choc: 2E2105 ;
ind red: 693411;
*/

/*
** PALLETTE 4: grass and dirt DARRRKK
grass: 055210;
forest: 162102;
dirt: 403A18;
choc: 2E1E03 ; or darker 211502
ind red: 69290E;
*/


/* PALLETTE 3: Wide variety with sky color
sky:    #00D8FF;
forest: #034218;
spring: #91E300;
brown:  #2E2502;
clay: #7F3C00;


/* ------------------------------- FONTS -------------------------------- */

@font-face {
    font-family: 'walkway';
    src: url('/fonts/Walkway_Bold-webfont.eot');
    src: url('/fonts/Walkway_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Walkway_Bold-webfont.woff') format('woff'),
         url('/fonts/Walkway_Bold-webfont.ttf') format('truetype'),
         url('/fonts/Walkway_Bold-webfont.svg#walkway') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'walkway';
    src: url('/fonts/Walkway_UltraBold-webfont.eot');
    src: url('/fonts/Walkway_UltraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Walkway_UltraBold-webfont.woff') format('woff'),
         url('/fonts/Walkway_UltraBold-webfont.ttf') format('truetype'),
         url('/fonts/Walkway_UltraBold-webfont.svg#walkway') format('svg');
    font-weight: 500;
    font-style: normal;
}


/* ----------------------------- FONT ICONS ------------------------------*/

@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?qywafw');
  src:  url('/fonts/icomoon.eot?qywafw#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?qywafw') format('truetype'),
    url('/fonts/icomoon.woff?qywafw') format('woff'),
    url('/fonts/icomoon.svg?qywafw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bandcamp:before {
  content: "\e900";
}
.icon-paste:before {
  content: "\e92d";
}
.icon-phone:before {
  content: "\e942";
  margin-top: -1px;
}
.icon-envelope:before {
  content: "\e945";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-instagram {
  font-size: 26px;
  vertical-align: -3px;
}
.icon-instagram:before {
  content: "\e901";
}





/* ------------------------------- GENERAL TAGS ------------------------- */

body {
    margin: 0;
    font-family: helvetica, arial;
}

a,
.clickable {
    text-decoration: none;
    color: #ac2413;
    cursor: pointer;
}
a:hover,
.clickable:hover {
    text-decoration: underline;
    color: #cc4433;
}


h1, h2, h3, h4, h5 {
    font-family: walkway, helvetica, arial;
    font-weight: 400;
}

h1 {
    text-align: left;
    margin: 0;
    padding-bottom:2px;
        width: 274px;
    float: left;

    border-bottom: 2px solid black;
    color: #333;
    font-size: 38px;
    line-height: 60px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
    vertical-align: bottom;
}

h2 {
    font-size: 28px;
    margin: 0 0 0.55em;
    font-weight: 600;
    letter-spacing: 1px;
}

h3 {
    font-size: 24px;
}

i {
    margin-right: 10px;
}

button {
    background: #d8d8d8;
    border-radius: 3px;
    border: 1px solid #ccc;
    cursor: pointer;
}

button i {
    font-size: 14px;
    padding: 3px;
    margin-right: 0;
    color: #666;
}

button:hover {
    color: #333;
    background: #eee;
}

ul {
    list-style: none;
    padding-left:0;
}

li {
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: underline;
}

section {
    margin-bottom: 35px;
}

aside section {
    padding: 0;
}

iframe {
    border: 0; 
}

footer {
    clear: both;
    border-top: 1px solid #333;
    background: #fff;
    overflow: hidden;
    background: #2E1E03;
}

:focus {
    outline: 0;
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        margin: 0px 0 -4px 0px;
    }
}


/* -------------------------------- PAGE LAYOUT -----------------------------*/

header {
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
}

.header-container {
    margin: auto;
}

.container,
.footer-container {
    margin: auto;
    overflow: hidden;
}

.header-container,
.container,
.footer-container {
    max-width: 1196px;
    width: 100%;
}

/* ------------------------------- GENERAL CLASSES ------------------------- */

.page {
    width: 100%;
    padding: 40px 0;
    position: relative;
    overflow: hidden;
}

.page-border {
    height: 20px;
    margin-top: -10px;
    background: #2E1E03;
}

.container {
    margin: auto;
    overflow: hidden;
    position: relative;
}

.container.full-width {
    width: 100%;
}

.content {
    width: 700px;
    margin: 0;
    padding: 30px;
    float: left;
}

.vertical-middle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.template {
    display: none;
}

html body .hide {
    display: none;
}

.clear {
    clear: both;
}

@media screen and (max-width: 1196px) {
    .content {
        width: calc(100% - 496px);
    }
}

@media screen and (max-width: 480px) {
    .mobile-hide {
        display: none !important; /* Sorry future self */
    }
}
@media screen and (min-width: 481px) {
    .mobile-only {
        display: none !important; /* Sorry future self */
    }
}

/* ------------------------------- HEADER ------------------------- */


header {
    height: 70px;
    padding-bottom: 5px;
    padding-top: 5px;
    position: fixed;

    background: rgba(255,255,255,0.9);
    border-bottom: 2px solid black;
    z-index: 100;

    -webkit-transition: 0.5s ease background, 0.5s ease width, 0.5s ease border;
       -moz-transition: 0.5s ease background, 0.5s ease width, 0.5s ease border;
         -o-transition: 0.5s ease background, 0.5s ease width, 0.5s ease border;
            transition: 0.5s ease background, 0.5s ease width, 0.5s ease border;
}


.logo {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 3px 0 0px 0;
}

.h1-container {
    width: 50%;
    min-width: 260px;
    display: inline-block;
    box-sizing: border-box; 
}

.header-links {
    line-height: 50px;
    width: calc(100% - 306px);
    display: inline-block;
    float: right;
    position: relative;
    box-sizing: border-box;
    text-align: right;
    font-family: walkway, helvetica, arial;
}

.header-link {
    display: inline-block;
    margin-right: 20px;
    line-height: 65px;

    color: #333;
    font-size: 21px;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
    text-align: center;

    -webkit-transition: 0.5s ease color;
       -moz-transition: 0.5s ease color;
         -o-transition: 0.5s ease color;
            transition: 0.5s ease color;
}

.header-link:not(.mobile-only):last-of-type {
    margin-right: 0;
}

.header-link.active,
.header-link.active i {
    color: #cc4433;
}

.header-link:hover {
    text-decoration: none;
}

.header-link i {
    font-size: 20px;
    margin-right: 10px;
    vertical-align: -1px;
}

.header-link-underline {
    width: 100%;
    margin-top: -3px;
    border-bottom: 2px solid transparent;

    -webkit-transition: 0.5s ease all;
       -moz-transition: 0.5s ease all;
         -o-transition: 0.5s ease all;
            transition: 0.5s ease all;
}

#header-links-toggle {
    display: none;

    width: calc(100% - 236px);
    margin: -3px -10px 0 0;
    text-align: right;
    padding: 0 10px 0 15px;
}
#header-links-toggle i {
    margin:0;
}

#booking-info {
    display: none;
    position: absolute;
    top: 65px;
    right: -2px;
    width: 360px;
    padding: 0 20px;
    text-align: left;
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    font-size: 18px;
    font-weight: 400;

    background: rgba(255,255,255,0.9);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    filter: drop-shadow(0px 0px 0px 1px rgba(0,0,0,0.5));
    -webkit-filter: drop-shadow(0px 0px 1px rgba(0,0,0,0.5));
    z-index: 102;
}

#booking-trigger.active #booking-info {
    display: inline-block;
}

#booking-info i {
    display: inline-block;
    margin-right: 10px;
    color: #ac2413;
    font-size: 20px;
    vertical-align: middle;
}

#booking-info button i {
    margin-right: 0;
    font-size: 14px;
    color: #000;
}

#booking-info section {
    margin-bottom: 0;
    padding: 10px 0;
    line-height: 60px;
    border-bottom: 2px solid transparent;
}

#booking-info section:nth-of-type(n+2) {
    border-top: 2px solid #055210;
}

.clipboard {
    width: 76px;
    float: right;
    margin-top: 16px;
    vertical-align: middle;
}

.clipboard:after {
    content: "copy";
    vertical-align: middle;
}
.clipboard:focus,
.clipboard:active,
.clipboard.selected {
    background: #85d280;
    color: #055210;
}
.clipboard:focus:after,
.clipboard:active:after,
.clipboard.selected:after {
    content: "copied";
}

#booking-info .info-line {
    vertical-align: middle;
    line-height: 20px;
}

.just-the-tip {
    position: absolute;
    right: 22px;
    bottom: calc(100% + 10px);
    width: 38px;
    height: 24px;
    overflow: visible;

    font-size: 38px;
    color: rgba(255,255,255,0.9);
}
.just-the-tip:before {
    content: "\25B2";

    transform: scaleY(0.5);
    top: -5px;
    position: absolute;

    vertical-align: middle;
    z-index: 101;
}

@media screen and (max-width: 1092px) {
    h1 {
        width: 245px;
        padding-left: 0;
        font-size: 34px;
    }

    .header-links {
        width: calc(100% - 246px);
    }

    .header-link {
        font-size: 18px;
        margin-right: 20px;
    }
    .header-link i {
        margin-right: 9px;
        font-size: 16px;
    }

    #booking-info section {
        padding: 0;
        font-size: 16px;
    }

    .clipboard {
        margin-top: 17px;
    }
}

@media screen and (max-width: 945px) {
    h1 {
        width: 204px;
        font-size: 28px;
    }

    .header-links {
        width: calc(100% - 222px);
    }

    .header-link {
        margin-right: 3%;
        font-size: 17px;
    }
}

@media screen and (max-width: 868px) {
    h1 {
        width: 236px;
        font-size: 32px;
    }

    .header-links {
        width: calc(100% - 236px);
    }

    .header-link {
        font-size: 0;
    }

    .header-link > i {
        margin-right: 25px;
        line-height: 65px;
        font-size: 24px;
        vertical-align: middle;
    }
    .header-link:not(.mobile-only):last-of-type > i {
        margin-right: 0;
    }

    .just-the-tip {
        right: 4px;
    }
}


@media screen and (max-width: 768px) {
    header {
        padding: 0 20px;
        height: 65px;
        border-bottom: 2px solid #000;
    }

    #booking-info {
        font-size: 16px;
        width: 320px;
        right: 0;
    }
}

@media screen and (max-width: 698px) {
    header {
        height: 65px;
        padding: 0 20px;
    }
    h1 {
        width: 214px;
        font-size: 28px;
        margin-top: 8px;
        line-height: 52px;
    }
    .header-links {
        width: calc(100% - 216px);
    }
    .header-link {
        margin-right: 6%;
    }
    .header-link > i {
        font-size: 22px;
        margin-right: 0;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        margin-top: 0;
        line-height: 60px;
    }
    .header-link {
        display: none;
    }
    .header-link-underline {
        width: 100%;
    }
    .show-mobile-nav .header-link {
        display: inline-block;
    }
    #header.show-mobile-nav {
        height: auto;
    }
    #header.show-mobile-nav.homeContentOverlap {
        background: rgba(255,255,255,.98);
    }
    #header.show-mobile-nav.homeContentOverlap {
        background: rgba(255,255,255,.98);
    }

    #header-links-toggle,
    .show-mobile-nav #header-links-toggle {
        display: inline-block;
        cursor: pointer;
    }

    .show-mobile-nav .header-links,
    .show-mobile-nav .header-link {
        display: block;
        width: 100%;
        text-align: left;
    }
    .show-mobile-nav .header-link {
        font-size: 20px;
        border-bottom: 2px solid #333;
    }
    .show-mobile-nav .header-link:last-child {
        border-bottom: none;
    }
    .show-mobile-nav .header-link > i {
        margin-right: 14px;
        vertical-align: -2px;
    }
}

/* ---------- Dynamic header classes based on scroll position --- */

header.noBg {
    background: transparent;
}

header.showsPageOverlap {
    background: #2E1E03;
}
header.showsPageOverlap h1 {
    border-bottom: 0;
}

header.showsPageOverlap,
header.showsPageOverlap h1,
header.showsPageOverlap .header-link {
    color: #eceFe2;
}


header.showsPageOverlap .header-link.active,
header.showsPageOverlap .header-link.active i {
    color: #fff;

}

header.showsPageOverlap h1:hover,
header.showsPageOverlap .header-link:hover {
    color: #fff;
}

header.showsPageOverlap .header-link-underline {
    border-color: #eceFe2;
}
header.showsPageOverlap .header-link:hover .header-link-underline {
    border-color: #fff;
}

header.showsPageOverlap #booking-info {
    background: #eceFe2;
}
header.showsPageOverlap #booking-info a,
header.showsPageOverlap #booking-info i {
    color: #333;
}
header.showsPageOverlap .just-the-tip {
    color: #eceFe2;
}

@media screen and (max-width: 480px) {
    header.showsPageOverlap.show-mobile-nav h1 {
        border-bottom: 2px solid #333;
    }
}


/* ------------------------------- BODY ------------------------- */

.home-page {
    padding-top: 60px;
    min-height: calc(100% - 85px);
}

.home-background {
    background-image: url(/images/main_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*filter: blur(5px) brightness(2.5) saturate(1.8) contrast(0.6) sepia(0.3);*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

#home-container {
    margin-top: 80px;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, 0.25);
}


.link-section {
    margin-top: 18px;
    text-align: center;
    font-family: walkway, helvetica, arial;
    font-weight: 500;
    letter-spacing: 0.025em;
    font-size: 16px;
}
.link-section a {
    color: #6C1406;
} 

/* --------- About ---------- */

.about.content {
    background: rgba(255, 255, 255, 0.3);
}

.about-description {
    font-size: 16px;
    orphans: 3;
}
.about-description a {
    color: #6C1406;
}



/* --------- Video ---------- */

.video-section {
    max-width: 436px;
    width: 50%;
    min-height: 491px;
    padding: 30px;
    margin-bottom: 0;
    float: right;
    position: relative;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.15);
}

.youtube-player-container {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}
.youtube-player {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* ------ Music player ------ */

.music-player {
    float: left;
    height: 200px;
    margin: 0px 0;
    padding: 30px;
    background: none;
}

.bandcamp-player {
    width: 100%;
    height: 120px;
}


/* ------ Home responsive -----*/

@media screen and (max-width: 915px) {
    #home-container {
        margin-top: 5px;
    }

    .content {
        width: calc(50% - 60px);
        height: 120px;
    }

    .about {
        width: calc(100% - 60px);
        height: auto;
    }

    .video-section {
        height: auto;
        min-height: 0;
    }
}

@media screen and (max-width: 698px) {

    .home-page {
        padding-top: 60px;
        padding-bottom: 10px;
    }

    #home-container {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;

        margin-bottom: 0;
        padding-bottom: 10px;

    }

    .music-section {
        order: 1;
    }
    .about-section {
        order: 2;
    }
    .video-section {
        order: 3;
    }

    .about-description {
        font-size: 14px;
    }

    .content, .video-section {
        width: 100%;
        height: auto;
        max-width: none;
        box-sizing: border-box;
        float: none;
        padding-left: 10%;
        padding-right: 10%;
    }

    .youtube-player-container {
        width: 100%;
        margin: auto;
    }
}


/* ---------- Shows --------- */

.shows-page {
    min-height: calc(100% - 167px);
}

.shows {
    width: 70%;
    margin: 40px auto 10px;
    padding: 30px;
}

@media screen and (max-width: 915px) {
    .shows {
        width: 100%;
        min-height: 0;
        box-sizing: border-box;
    }
}

.shows > h2 {
    padding: 0 20px 25px;
    margin: 0 -10px;

    transition: 0.25s box-shadow ease;
    -ms-transition: 0.25s box-shadow ease;
    -moz-transition: 0.25s box-shadow ease;
    -webkit-transition: 0.25s box-shadow ease;
}

.shows-header {
    padding: 0 20px 5px;
    margin: 0 -10px 0 -20px;
    color: #eceFe2;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;

    transition: 0.25s box-shadow ease;
    -ms-transition: 0.25s box-shadow ease;
    -moz-transition: 0.25s box-shadow ease;
    -webkit-transition: 0.25s box-shadow ease;
}

.shows-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(/images/shows_bg.jpg); */
    background-repeat: no-repeat;
    background-position: center 40%;
    background-size: cover;
    /*filter: blur(8px) brightness(2.7) contrast(0.3) saturate(5);*/
    z-index: -1;
    overflow: visible;
}

.show-list {
    max-height: 600px;
    overflow: auto;
    margin-top: 0;

    box-shadow: 0px -13px 20px -20px rgba(0,0,0,0.5) inset;
    border-radius: 2px;
}

.show-list.no-scroll {
    box-shadow: none;
}

.showItem, #no-shows {
    margin: 10px 0;
    padding: 20px;

    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 6px -2px rgba(0,0,0,.33);
    font-size: 15px;

    transition: 0.25s box-shadow ease;
    -ms-transition: 0.25s box-shadow ease;
    -moz-transition: 0.25s box-shadow ease;
    -webkit-transition: 0.25s box-shadow ease;
    background: rgba(0,0,0,0.5);
}

.showItem:hover {
    box-shadow: 0 0 8px -1px rgba(0,0,0,0.4);
}

.linkContainer {
    position: relative;
    z-index: 0;

    color: inherit;
    text-decoration: inherit;
}

.linkContainer:hover * {
    color: inherit;
    text-decoration: inherit;
}

.linkContainer a {
    position: relative;
    z-index: 1;
}

.date {
    float: left;
    position: relative;
    width: 8%;
    margin-right: 20px; 
    margin-top: 4px;
    padding-bottom: 5.5%;
    vertical-align: top;

    position: relative;
    z-index: 1;

    border: 1px solid #eceFe2;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 1px 1px 3px -1px rgba(0,0,0,0.25);
}
@media screen and (max-width: 768px) { 
    .date {
        width: 60px;
        padding-bottom: 44px;
    }
}

.month {
    margin: -1px -1px 0 -1px;
    padding: 3% 1% 2%;
    display: block;

    background: #cc4433;
    border: 1px solid #ac2413;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    color: #eceFe2;
    font-family: walkway, helvetica, arial;
    font-size: 16px;
    text-align: center;
}

.day-container {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    padding-top: 39%;

    font-size: 16px; /** Must equal .month's font-size **/
    text-align: center;
}

.day {
    font-family: walkway, helvetica, arial;
    font-size: 32px;
    font-weight: 800;
    color: #eceFe2;
}

.show-text {
    display: inline-block;
    width: calc(100% - 90px);
}
.show-title, .show-title a {
    margin: 0;

    color: #eceFe2;
    font-size: 24px;
}

.eventDescription {
    margin: 0.5em 0;
    overflow: hidden;
    position: relative;
    line-height: 1.2

    font-size: 15px;
    color: #eceFe2;
}
@media screen and (max-width: 480px) {
}


.description-more {
    display: none;
    margin-top: -0.5em;
}

.row-footer {
    margin: 0.5em 0 0;
    padding-left: calc(8% + 22px);
    color: #eceFe2;
}
.row-footer a,
.row-footer .clickable {
    color: #c43;
}
.row-footer a:hover,
.row-footer .clickable:hover {
    color: #e55;
}

.venue,
.venue span {
    color: #eceFe2;
}

.venue a:nth-child(n+2):before {
    content: "\2022";
    margin-left: 0.2em;
    margin-right: 0.5em;
    display: inline-block;

    pointer-events: none;
    text-decoration: none;
    cursor: default;
}

@media screen and (max-width: 768px) {
    .row-footer{
        padding-left: 82px;
    }
}

@media screen and (max-width: 480px) {
    .shows-header {
        font-size: 28px;
    }

    .date {
        width: 50px;
        padding-bottom: 30px;
        margin-right: 15px;
        margin-bottom: 8px;
    }
    .day-container {
        padding-top: 20px;
    }
    .day {
        font-size: 28px;
    }

    .show-text:not(.show-title) {
        width: 100%;
    }
    .show-title,
    .show-title a {
        font-size: 21px;
        font-weight: 600;
        line-height: 28px;
    }

    .eventDescription {
        font-size: 14px;
    }

    .row-footer {
        width: 100%;
        padding-left: 0;
    }
    .venue a {
        font-size: 14px;
    }

    .shows {
        padding: 0;
    }
    .shows > h2 {
        margin: 0;
    }

    .showItem, .showItem:hover {
        margin: 1px 0 0; 
        border: 0; 
        border-radius: 0; 
        box-shadow: none; 
    }

}


/* -------- Shows - Dynamic Classes ---------*/

.pastShow {
    position: relative;
}
.pastShow:before {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 10;

    background: #fff;
    opacity: 0.6;
}

.scrolledShows > h2 {
    box-shadow: 0 11px 12px -11px rgba(0,0,0,0.2);    
}

.collapsed-description .eventDescription {
    max-height: 36px;
}
.collapsed-description .eventDescription:before {
    content: '...';
    position: absolute;
    top: 1.15em;
    right: 0;
}

.collapsed-description .description-more {
    display: block;
}

.collapsed-description .eventDescription:hover {
    cursor: pointer;
}

.collapsed-description .eventDescription:hover + .description-more {
    text-decoration: underline;
    color: #cc4433;
}


/* ------------------------------- FOOTER ------------------------- */

footer {
    padding: 12px 40px;
}

footer li {
    display: inline-block;
    margin-right: 8px;
}
footer li:last-of-type {
    margin-right: 0;
}

.footer-container {
    overflow: hidden;
}

.contact-links {
    float: left;
}

.contact a {
    color: #cc4433;
}

